@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/* ======================================= */

header {
	font-family: 'Montserrat', sans-serif;
}

nav .container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

nav h1 {
	display: inline-block;
}

nav ul,
nav li {
	display: inline-block;
	position: relative;
	bottom: 6px;
}

header h1,
nav a {
	color: white;
	text-decoration: none;
}

nav ul {
	float: right;
}


nav li:hover {
	text-decoration: underline;
}

header {
	background-color: #263238;
}

nav h1,
nav li {
	margin-top: 15px;
	padding: 10px 10px;
}

/* ============================== */

button a {
	text-decoration: none;
	color: #263238;
}

.main_card {
	color: #fff;
	width: 760px;
	height: 390px;
	margin: 50px auto;
	display: flex;
	max-width: 770px;
	background: #263238;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.card_left {
	width: 70%;
}

.card_datails {
	width: 90%;
	padding: 30px;
	margin-top: -25px;
}

.card_datails h1 {
	font-size: 30px;
}

.card_right img {
	height: 390px;
	width: 100%;
	border-radius: 2px;
}

.card_right {
	border-radius: 2px;
}

.card_cat {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.PG,
.year,
.genre,
.time {
	color: fff;
	padding: 10px;
	font-weight: bold;
	border-radius: 15px;
}

.PG {
	border: 1px solid white;
	border-radius: 25px;
	background: whitesmoke;
	color: #263238;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.disc {
	font-weight: 100;
	line-height: 27px;
}

a {
	color: darkcyan;
	display: block;
	text-decoration: none;
}

.social-btn {
	margin-left: -10px;
}

button {
	color: #263238;
	border: 1px solid white;
	padding: 20px;
	outline: none;
	font-size: 14px;
	margin-top: 30px;
	margin-left: 10px;
	background: whitesmoke;
	border-radius: 28px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	transition: 200ms ease-in-out;
}

button:hover {
	transform: scale(1.1);
}

.pagination {
	display: flex;
	justify-content: center;
}

.pagination a {
	color: #263238;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}

.pagination a.active {
	background-color: #263238;
	color: white;
}

.pagination a:hover:not(.pagination a.active) {
	background-color: #ddd;
}

.pagination a {
	border: 0.5px solid lightGrey;
}

.left {
	border-radius: 4px 0 0 4px;
}

.right {
	border-radius: 0 4px 4px 0;
}

.pagination a.disable {
	color: grey;
}

.btn{
	border: 2px solid #263238;
	color: #263238;
	padding: 10px;
	display: inline-block;
	border-radius: 5px;
	margin: 25px 15px;
}

.btn:hover{
	background-color: #263238;
	color: #fff;
}

